/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features
{
   text-align: center;
}

#features img
{
   margin: 0 0 20px;
}

#inputMessage
{
margin-bottom: 15px;
}

#color
{
   background: yellow;
}
#change
{
   background: pink;
}
#change1
{
   background: red;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
body
{
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   background: blue;
}

.well .page-header
{
   margin-top: 0;
}

.well .page-header h1
{
   margin-top: 0;
}
#moreInfo
{
   background: orange;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   #searchInput
   {
      width:200px;
   }
   #navbar-brand
   {
      padding: 13px 15px;
   }
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel
{
   margin-top: 60px;
}

.carousel-caption
{
font-size: 24px;
}

.carousel-caption h4
{
font-size: 32px;
}

#myCarousel.item{
   height: 400px;
}
#slide1
{
   /*background: url('../../images/carousel_medium_01.jpg') top center no-repeat;*/
}

#slide2
{
   background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3
{
   background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert
{
   margin: 20px 0;
   display: none;
}

.well
{
   margin: 20px 0;
}

.tabbable img.thumbnail
{
   margin: 0 20px 10px 0;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   #slide1
{
   background: url('../../images/carousel_small_01.jpg') top center no-repeat;
}

#slide2
{
   background: url('../../images/carousel_small_02.jpg') top center no-repeat;
}

#slide3
{
   background: url('../../images/carousel_small_03.jpg') top center no-repeat;
}

	
}

/* Large desktop */
@media (min-width: 1200px) {

   #slide1
{
   background: url('../../images/carousel_large_01.jpg') top center no-repeat;
}

#slide2
{
   background: url('../../images/carousel_large_02.jpg') top center no-repeat;
}

#slide3
{
   background: url('../../images/carousel_large_03.jpg') top center no-repeat;
}

	
}